<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title></title>
  </head>

  <body>
    <header>
      <h1>Presented by @HD85</h1>
    </header>

    <nav>
      <u1>
        <li><a href="/contacts">View all contacts</a></li>
        <li><a href="/contacts/new">Add a contact</a></li>
        <!-- please complete me with links to other actions -->
      </u1>
    </nav>

    <%= yield %>

  <footer>All Rights Reserverd.</footer>
  </body>
</html>