<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>This is your CRM app</header>
<nav>
<u1>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a contact</a></li>
  <!-- please complete me with links to other actions -->
</u1>
</nav>
  <%= yield %>
<footer>Do not steal my work @HD85</footer>
</body>
</html>